$black:#000;
$white:#fff;
body {
    background: $black;
}

.phonebook {
    background: grey;
    min-height: 100%;
    width: 50%;
    position: absolute;
    left: 25%;
}

.phonebook img {
    width: 20px;
    height: 20px;
}

.none {
    display: none;
    opacity: 0;
    transition: all 2s linear;
}

.visible {
    display: block;
    opacity: 1;
    transition: all 2s linear;
}

thead th {
    text-align: center;
}
thead th:last-child{
	width:100px;

} 
thead tr {
    border-bottom: 2px solid $white;
}

tr {
    text-align: center;
}
tbody tr:hover{
	background:white;
}
td input:nth-child(2),
td input:first-child {
    display: none;
    margin-right:4px;
    
}

tbody tr:hover td input:nth-child(2),
tbody tr:hover td input:first-child {
    display: inline-block;
}
